@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
html {
  background-color: #000;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body a,
html a {
  text-decoration: none;
}

body hr,
html hr {
  margin: 20px auto;
  background: rgba(53, 53, 53, 0.6);
  -webkit-box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
          box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
}

header .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

header .links a {
  padding: 0 10px;
  display: inline-block;
}

header .links a img {
  background-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 100px 10px rgba(255, 255, 255, 0.59);
          box-shadow: 10px 10px 100px 10px rgba(255, 255, 255, 0.59);
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 15px;
  left: 20px;
}

header .links a img a {
  width: 100px;
}

header .links a h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
  padding: 30px 0;
}

header .links a h2.underline {
  position: relative;
}

header .links a h2.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .links a h2.underline:hover:before {
  visibility: visible;
  width: 100%;
}

header .links a .active {
  background-color: rgba(237, 237, 237, 0.1);
  border-bottom: solid 5px #fff;
  padding: 25px 10px;
}

header .menu-btn {
  width: 40px;
  float: right;
  cursor: pointer;
  margin: 40px;
}

.navoverlay {
  position: absolute;
  z-index: 2;
  background: black;
  margin: 0;
  padding: 2em;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  overflow: auto;
}

.navoverlay .close-btn {
  width: 40px;
  float: right;
  cursor: pointer;
  margin: 8px 15px;
  -webkit-animation: show-x 1s forwards;
          animation: show-x 1s forwards;
}

.navoverlay ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

.navoverlay ul h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.navoverlay ul h2.underline {
  position: relative;
}

.navoverlay ul h2.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffffff;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navoverlay ul h2.underline:hover:before {
  visibility: visible;
  width: 100%;
}

.navoverlay ul span {
  color: rgba(153, 153, 153, 0.8);
  display: block;
  font-size: 0.95em;
  margin-top: 5px;
  margin-bottom: 35px;
}

.navoverlay ul li {
  opacity: 0;
  margin: 10px auto;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.navoverlay ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.7s ease-in-out forwards;
          animation: slide-menu 0.7s ease-in-out forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.5s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.5s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.6s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.6s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.7s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.7s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.8s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.8s ease-in-out;
}

.show-menu li:nth-of-type(5) {
  -webkit-animation: menu-item-anim 0.6s forwards 0.9s ease-in-out;
          animation: menu-item-anim 0.6s forwards 0.9s ease-in-out;
}

.show-menu li:nth-of-type(6) {
  -webkit-animation: menu-item-anim 0.6s forwards 1s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(7) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
          animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
}

.titulo {
  width: 50%;
  height: auto;
  margin: 10px auto;
  background-color: rgba(114, 114, 114, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo .titulotxt {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 10px auto;
  margin: 0;
}

section {
  padding-top: 5em;
}

section h1 {
  font-size: 3em;
  color: #fff;
  width: 70%;
}

section h1::before {
  content: " ";
  border-top: 5px solid rgba(153, 153, 153, 0.5);
  display: block;
}

/*===================================== SHARE BUTTON =====================================*/
.mn-social-bottom-c {
  margin: auto;
}

.mn-social-bottom-c p {
  text-align: center;
  font-size: 25px;
  color: #5a5a5a;
}

.mn-social-bottom {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  color: #131212;
  border-radius: 4px;
  margin: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mn-social-bottom .fa,
.mn-social-bottom .fab,
.mn-social-bottom .fas {
  font-size: 1.2em;
  color: #000;
}

.mn-social-bottom .fa-plus {
  transition: -webkit-transform 0.3s;
}

.mn-social-bottom .fa-plus.mn-social-r {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mn-social-bottom:hover {
  color: #fff;
  background: rgba(53, 53, 53, 0.6);
  -webkit-box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
          box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mn-social-bottom:hover .fa,
.mn-social-bottom:hover .fab,
.mn-social-bottom:hover .fas {
  color: #fff;
}

#mn-social-bottom-hidden {
  display: none;
}

/*===================================== SWIPER =====================================*/
/*=========== SWIPER HOME ===========*/
.swiper-container {
  width: 100%;
  height: 500px;
}

.swiper-container .swiper-slide {
  position: relative;
  text-align: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-container .swiper-slide .titulo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: #fff 1px solid;
}

.swiper-container .swiper-slide .titulo .titulotxt {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 10px auto;
  margin: 0;
}

.swiper-container .swiper-slide a {
  height: 100%;
  width: auto;
}

.swiper-container .swiper-slide img {
  height: 100%;
  width: auto;
}

.swiper-container .swiper-dots {
  z-index: 1;
  margin-bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-dots .swiper-pagination-bullet {
  height: 30px;
  width: 30px;
}

.swiper-container .swiper-dots .swiper-pagination-bullet-active {
  background: rgba(53, 53, 53, 0.6);
  -webkit-box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
          box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
  height: 30px;
  width: 30px;
}

.swiper-container .swiper-arrow {
  color: #fff;
}

.swiper-container .swiper-arrow .swiper-button-next {
  width: 400px;
}

/*=========== SWIPER SOBRE ===========*/
.swiper-container-premios {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.swiper-container-premios .swiper-slide {
  position: relative;
  text-align: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
}

.swiper-container-premios .swiper-slide .titulo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: #fff 1px solid;
}

.swiper-container-premios .swiper-slide .titulo .titulotxt {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 10px auto;
  margin: 0;
}

.swiper-container-premios .swiper-slide a {
  height: 100%;
  width: auto;
}

.swiper-container-premios .swiper-slide img {
  height: 100%;
  width: auto;
}

/*===================================== CARDS =====================================*/
.card {
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);
          box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);
}

.card .card-img-top {
  border-radius: 20px 20px 0 0;
}

.card-turne {
  height: auto;
}

.card-turne .card-title {
  background-color: rgba(136, 136, 136, 0.2);
}

.card-turne .img-turne-container {
  width: 50%;
  height: auto;
}

.card-turne .img-turne-container img {
  width: 100%;
  height: auto;
}

/*===================================== MODAL =====================================*/
/* Modal (background) */
.modal1,
.modal2,
.modal3,
.modal4,
.modalinfo,
.modalingresso {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  /* Conteúdo Modal /Box */
}

.modal1 .modal-content1,
.modal1 .modal-content2,
.modal1 .modal-content3,
.modal1 .modal-content4,
.modal1 .modal-contentinfo,
.modal1 .modal-contentingresso,
.modal2 .modal-content1,
.modal2 .modal-content2,
.modal2 .modal-content3,
.modal2 .modal-content4,
.modal2 .modal-contentinfo,
.modal2 .modal-contentingresso,
.modal3 .modal-content1,
.modal3 .modal-content2,
.modal3 .modal-content3,
.modal3 .modal-content4,
.modal3 .modal-contentinfo,
.modal3 .modal-contentingresso,
.modal4 .modal-content1,
.modal4 .modal-content2,
.modal4 .modal-content3,
.modal4 .modal-content4,
.modal4 .modal-contentinfo,
.modal4 .modal-contentingresso,
.modalinfo .modal-content1,
.modalinfo .modal-content2,
.modalinfo .modal-content3,
.modalinfo .modal-content4,
.modalinfo .modal-contentinfo,
.modalinfo .modal-contentingresso,
.modalingresso .modal-content1,
.modalingresso .modal-content2,
.modalingresso .modal-content3,
.modalingresso .modal-content4,
.modalingresso .modal-contentinfo,
.modalingresso .modal-contentingresso {
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
          box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
  margin: 6% auto;
  /* 15% top e centralizado */
  border: 1px solid #888;
  width: 80%;
  height: auto;
  /* Botão Fechar */
}

.modal1 .modal-content1 iframe,
.modal1 .modal-content2 iframe,
.modal1 .modal-content3 iframe,
.modal1 .modal-content4 iframe,
.modal1 .modal-contentinfo iframe,
.modal1 .modal-contentingresso iframe,
.modal2 .modal-content1 iframe,
.modal2 .modal-content2 iframe,
.modal2 .modal-content3 iframe,
.modal2 .modal-content4 iframe,
.modal2 .modal-contentinfo iframe,
.modal2 .modal-contentingresso iframe,
.modal3 .modal-content1 iframe,
.modal3 .modal-content2 iframe,
.modal3 .modal-content3 iframe,
.modal3 .modal-content4 iframe,
.modal3 .modal-contentinfo iframe,
.modal3 .modal-contentingresso iframe,
.modal4 .modal-content1 iframe,
.modal4 .modal-content2 iframe,
.modal4 .modal-content3 iframe,
.modal4 .modal-content4 iframe,
.modal4 .modal-contentinfo iframe,
.modal4 .modal-contentingresso iframe,
.modalinfo .modal-content1 iframe,
.modalinfo .modal-content2 iframe,
.modalinfo .modal-content3 iframe,
.modalinfo .modal-content4 iframe,
.modalinfo .modal-contentinfo iframe,
.modalinfo .modal-contentingresso iframe,
.modalingresso .modal-content1 iframe,
.modalingresso .modal-content2 iframe,
.modalingresso .modal-content3 iframe,
.modalingresso .modal-content4 iframe,
.modalingresso .modal-contentinfo iframe,
.modalingresso .modal-contentingresso iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
}

.modal1 .modal-content1 .service,
.modal1 .modal-content2 .service,
.modal1 .modal-content3 .service,
.modal1 .modal-content4 .service,
.modal1 .modal-contentinfo .service,
.modal1 .modal-contentingresso .service,
.modal2 .modal-content1 .service,
.modal2 .modal-content2 .service,
.modal2 .modal-content3 .service,
.modal2 .modal-content4 .service,
.modal2 .modal-contentinfo .service,
.modal2 .modal-contentingresso .service,
.modal3 .modal-content1 .service,
.modal3 .modal-content2 .service,
.modal3 .modal-content3 .service,
.modal3 .modal-content4 .service,
.modal3 .modal-contentinfo .service,
.modal3 .modal-contentingresso .service,
.modal4 .modal-content1 .service,
.modal4 .modal-content2 .service,
.modal4 .modal-content3 .service,
.modal4 .modal-content4 .service,
.modal4 .modal-contentinfo .service,
.modal4 .modal-contentingresso .service,
.modalinfo .modal-content1 .service,
.modalinfo .modal-content2 .service,
.modalinfo .modal-content3 .service,
.modalinfo .modal-content4 .service,
.modalinfo .modal-contentinfo .service,
.modalinfo .modal-contentingresso .service,
.modalingresso .modal-content1 .service,
.modalingresso .modal-content2 .service,
.modalingresso .modal-content3 .service,
.modalingresso .modal-content4 .service,
.modalingresso .modal-contentinfo .service,
.modalingresso .modal-contentingresso .service {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 80%;
}

.modal1 .modal-content1 .informacao,
.modal1 .modal-content2 .informacao,
.modal1 .modal-content3 .informacao,
.modal1 .modal-content4 .informacao,
.modal1 .modal-contentinfo .informacao,
.modal1 .modal-contentingresso .informacao,
.modal2 .modal-content1 .informacao,
.modal2 .modal-content2 .informacao,
.modal2 .modal-content3 .informacao,
.modal2 .modal-content4 .informacao,
.modal2 .modal-contentinfo .informacao,
.modal2 .modal-contentingresso .informacao,
.modal3 .modal-content1 .informacao,
.modal3 .modal-content2 .informacao,
.modal3 .modal-content3 .informacao,
.modal3 .modal-content4 .informacao,
.modal3 .modal-contentinfo .informacao,
.modal3 .modal-contentingresso .informacao,
.modal4 .modal-content1 .informacao,
.modal4 .modal-content2 .informacao,
.modal4 .modal-content3 .informacao,
.modal4 .modal-content4 .informacao,
.modal4 .modal-contentinfo .informacao,
.modal4 .modal-contentingresso .informacao,
.modalinfo .modal-content1 .informacao,
.modalinfo .modal-content2 .informacao,
.modalinfo .modal-content3 .informacao,
.modalinfo .modal-content4 .informacao,
.modalinfo .modal-contentinfo .informacao,
.modalinfo .modal-contentingresso .informacao,
.modalingresso .modal-content1 .informacao,
.modalingresso .modal-content2 .informacao,
.modalingresso .modal-content3 .informacao,
.modalingresso .modal-content4 .informacao,
.modalingresso .modal-contentinfo .informacao,
.modalingresso .modal-contentingresso .informacao {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 80%;
}

.modal1 .modal-content1 .close1,
.modal1 .modal-content1 .close2,
.modal1 .modal-content1 .close3,
.modal1 .modal-content1 .close4,
.modal1 .modal-content1 .closeinfo,
.modal1 .modal-content1 .closeingresso,
.modal1 .modal-content2 .close1,
.modal1 .modal-content2 .close2,
.modal1 .modal-content2 .close3,
.modal1 .modal-content2 .close4,
.modal1 .modal-content2 .closeinfo,
.modal1 .modal-content2 .closeingresso,
.modal1 .modal-content3 .close1,
.modal1 .modal-content3 .close2,
.modal1 .modal-content3 .close3,
.modal1 .modal-content3 .close4,
.modal1 .modal-content3 .closeinfo,
.modal1 .modal-content3 .closeingresso,
.modal1 .modal-content4 .close1,
.modal1 .modal-content4 .close2,
.modal1 .modal-content4 .close3,
.modal1 .modal-content4 .close4,
.modal1 .modal-content4 .closeinfo,
.modal1 .modal-content4 .closeingresso,
.modal1 .modal-contentinfo .close1,
.modal1 .modal-contentinfo .close2,
.modal1 .modal-contentinfo .close3,
.modal1 .modal-contentinfo .close4,
.modal1 .modal-contentinfo .closeinfo,
.modal1 .modal-contentinfo .closeingresso,
.modal1 .modal-contentingresso .close1,
.modal1 .modal-contentingresso .close2,
.modal1 .modal-contentingresso .close3,
.modal1 .modal-contentingresso .close4,
.modal1 .modal-contentingresso .closeinfo,
.modal1 .modal-contentingresso .closeingresso,
.modal2 .modal-content1 .close1,
.modal2 .modal-content1 .close2,
.modal2 .modal-content1 .close3,
.modal2 .modal-content1 .close4,
.modal2 .modal-content1 .closeinfo,
.modal2 .modal-content1 .closeingresso,
.modal2 .modal-content2 .close1,
.modal2 .modal-content2 .close2,
.modal2 .modal-content2 .close3,
.modal2 .modal-content2 .close4,
.modal2 .modal-content2 .closeinfo,
.modal2 .modal-content2 .closeingresso,
.modal2 .modal-content3 .close1,
.modal2 .modal-content3 .close2,
.modal2 .modal-content3 .close3,
.modal2 .modal-content3 .close4,
.modal2 .modal-content3 .closeinfo,
.modal2 .modal-content3 .closeingresso,
.modal2 .modal-content4 .close1,
.modal2 .modal-content4 .close2,
.modal2 .modal-content4 .close3,
.modal2 .modal-content4 .close4,
.modal2 .modal-content4 .closeinfo,
.modal2 .modal-content4 .closeingresso,
.modal2 .modal-contentinfo .close1,
.modal2 .modal-contentinfo .close2,
.modal2 .modal-contentinfo .close3,
.modal2 .modal-contentinfo .close4,
.modal2 .modal-contentinfo .closeinfo,
.modal2 .modal-contentinfo .closeingresso,
.modal2 .modal-contentingresso .close1,
.modal2 .modal-contentingresso .close2,
.modal2 .modal-contentingresso .close3,
.modal2 .modal-contentingresso .close4,
.modal2 .modal-contentingresso .closeinfo,
.modal2 .modal-contentingresso .closeingresso,
.modal3 .modal-content1 .close1,
.modal3 .modal-content1 .close2,
.modal3 .modal-content1 .close3,
.modal3 .modal-content1 .close4,
.modal3 .modal-content1 .closeinfo,
.modal3 .modal-content1 .closeingresso,
.modal3 .modal-content2 .close1,
.modal3 .modal-content2 .close2,
.modal3 .modal-content2 .close3,
.modal3 .modal-content2 .close4,
.modal3 .modal-content2 .closeinfo,
.modal3 .modal-content2 .closeingresso,
.modal3 .modal-content3 .close1,
.modal3 .modal-content3 .close2,
.modal3 .modal-content3 .close3,
.modal3 .modal-content3 .close4,
.modal3 .modal-content3 .closeinfo,
.modal3 .modal-content3 .closeingresso,
.modal3 .modal-content4 .close1,
.modal3 .modal-content4 .close2,
.modal3 .modal-content4 .close3,
.modal3 .modal-content4 .close4,
.modal3 .modal-content4 .closeinfo,
.modal3 .modal-content4 .closeingresso,
.modal3 .modal-contentinfo .close1,
.modal3 .modal-contentinfo .close2,
.modal3 .modal-contentinfo .close3,
.modal3 .modal-contentinfo .close4,
.modal3 .modal-contentinfo .closeinfo,
.modal3 .modal-contentinfo .closeingresso,
.modal3 .modal-contentingresso .close1,
.modal3 .modal-contentingresso .close2,
.modal3 .modal-contentingresso .close3,
.modal3 .modal-contentingresso .close4,
.modal3 .modal-contentingresso .closeinfo,
.modal3 .modal-contentingresso .closeingresso,
.modal4 .modal-content1 .close1,
.modal4 .modal-content1 .close2,
.modal4 .modal-content1 .close3,
.modal4 .modal-content1 .close4,
.modal4 .modal-content1 .closeinfo,
.modal4 .modal-content1 .closeingresso,
.modal4 .modal-content2 .close1,
.modal4 .modal-content2 .close2,
.modal4 .modal-content2 .close3,
.modal4 .modal-content2 .close4,
.modal4 .modal-content2 .closeinfo,
.modal4 .modal-content2 .closeingresso,
.modal4 .modal-content3 .close1,
.modal4 .modal-content3 .close2,
.modal4 .modal-content3 .close3,
.modal4 .modal-content3 .close4,
.modal4 .modal-content3 .closeinfo,
.modal4 .modal-content3 .closeingresso,
.modal4 .modal-content4 .close1,
.modal4 .modal-content4 .close2,
.modal4 .modal-content4 .close3,
.modal4 .modal-content4 .close4,
.modal4 .modal-content4 .closeinfo,
.modal4 .modal-content4 .closeingresso,
.modal4 .modal-contentinfo .close1,
.modal4 .modal-contentinfo .close2,
.modal4 .modal-contentinfo .close3,
.modal4 .modal-contentinfo .close4,
.modal4 .modal-contentinfo .closeinfo,
.modal4 .modal-contentinfo .closeingresso,
.modal4 .modal-contentingresso .close1,
.modal4 .modal-contentingresso .close2,
.modal4 .modal-contentingresso .close3,
.modal4 .modal-contentingresso .close4,
.modal4 .modal-contentingresso .closeinfo,
.modal4 .modal-contentingresso .closeingresso,
.modalinfo .modal-content1 .close1,
.modalinfo .modal-content1 .close2,
.modalinfo .modal-content1 .close3,
.modalinfo .modal-content1 .close4,
.modalinfo .modal-content1 .closeinfo,
.modalinfo .modal-content1 .closeingresso,
.modalinfo .modal-content2 .close1,
.modalinfo .modal-content2 .close2,
.modalinfo .modal-content2 .close3,
.modalinfo .modal-content2 .close4,
.modalinfo .modal-content2 .closeinfo,
.modalinfo .modal-content2 .closeingresso,
.modalinfo .modal-content3 .close1,
.modalinfo .modal-content3 .close2,
.modalinfo .modal-content3 .close3,
.modalinfo .modal-content3 .close4,
.modalinfo .modal-content3 .closeinfo,
.modalinfo .modal-content3 .closeingresso,
.modalinfo .modal-content4 .close1,
.modalinfo .modal-content4 .close2,
.modalinfo .modal-content4 .close3,
.modalinfo .modal-content4 .close4,
.modalinfo .modal-content4 .closeinfo,
.modalinfo .modal-content4 .closeingresso,
.modalinfo .modal-contentinfo .close1,
.modalinfo .modal-contentinfo .close2,
.modalinfo .modal-contentinfo .close3,
.modalinfo .modal-contentinfo .close4,
.modalinfo .modal-contentinfo .closeinfo,
.modalinfo .modal-contentinfo .closeingresso,
.modalinfo .modal-contentingresso .close1,
.modalinfo .modal-contentingresso .close2,
.modalinfo .modal-contentingresso .close3,
.modalinfo .modal-contentingresso .close4,
.modalinfo .modal-contentingresso .closeinfo,
.modalinfo .modal-contentingresso .closeingresso,
.modalingresso .modal-content1 .close1,
.modalingresso .modal-content1 .close2,
.modalingresso .modal-content1 .close3,
.modalingresso .modal-content1 .close4,
.modalingresso .modal-content1 .closeinfo,
.modalingresso .modal-content1 .closeingresso,
.modalingresso .modal-content2 .close1,
.modalingresso .modal-content2 .close2,
.modalingresso .modal-content2 .close3,
.modalingresso .modal-content2 .close4,
.modalingresso .modal-content2 .closeinfo,
.modalingresso .modal-content2 .closeingresso,
.modalingresso .modal-content3 .close1,
.modalingresso .modal-content3 .close2,
.modalingresso .modal-content3 .close3,
.modalingresso .modal-content3 .close4,
.modalingresso .modal-content3 .closeinfo,
.modalingresso .modal-content3 .closeingresso,
.modalingresso .modal-content4 .close1,
.modalingresso .modal-content4 .close2,
.modalingresso .modal-content4 .close3,
.modalingresso .modal-content4 .close4,
.modalingresso .modal-content4 .closeinfo,
.modalingresso .modal-content4 .closeingresso,
.modalingresso .modal-contentinfo .close1,
.modalingresso .modal-contentinfo .close2,
.modalingresso .modal-contentinfo .close3,
.modalingresso .modal-contentinfo .close4,
.modalingresso .modal-contentinfo .closeinfo,
.modalingresso .modal-contentinfo .closeingresso,
.modalingresso .modal-contentingresso .close1,
.modalingresso .modal-contentingresso .close2,
.modalingresso .modal-contentingresso .close3,
.modalingresso .modal-contentingresso .close4,
.modalingresso .modal-contentingresso .closeinfo,
.modalingresso .modal-contentingresso .closeingresso {
  background-color: rgba(99, 0, 0, 0.686);
  color: #fff;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.modal1 .modal-content1 .close1:hover,
.modal1 .modal-content1 .close2:hover,
.modal1 .modal-content1 .close3:hover,
.modal1 .modal-content1 .close4:hover,
.modal1 .modal-content1 .closeinfo:hover,
.modal1 .modal-content1 .closeingresso:hover,
.modal1 .modal-content2 .close1:hover,
.modal1 .modal-content2 .close2:hover,
.modal1 .modal-content2 .close3:hover,
.modal1 .modal-content2 .close4:hover,
.modal1 .modal-content2 .closeinfo:hover,
.modal1 .modal-content2 .closeingresso:hover,
.modal1 .modal-content3 .close1:hover,
.modal1 .modal-content3 .close2:hover,
.modal1 .modal-content3 .close3:hover,
.modal1 .modal-content3 .close4:hover,
.modal1 .modal-content3 .closeinfo:hover,
.modal1 .modal-content3 .closeingresso:hover,
.modal1 .modal-content4 .close1:hover,
.modal1 .modal-content4 .close2:hover,
.modal1 .modal-content4 .close3:hover,
.modal1 .modal-content4 .close4:hover,
.modal1 .modal-content4 .closeinfo:hover,
.modal1 .modal-content4 .closeingresso:hover,
.modal1 .modal-contentinfo .close1:hover,
.modal1 .modal-contentinfo .close2:hover,
.modal1 .modal-contentinfo .close3:hover,
.modal1 .modal-contentinfo .close4:hover,
.modal1 .modal-contentinfo .closeinfo:hover,
.modal1 .modal-contentinfo .closeingresso:hover,
.modal1 .modal-contentingresso .close1:hover,
.modal1 .modal-contentingresso .close2:hover,
.modal1 .modal-contentingresso .close3:hover,
.modal1 .modal-contentingresso .close4:hover,
.modal1 .modal-contentingresso .closeinfo:hover,
.modal1 .modal-contentingresso .closeingresso:hover,
.modal2 .modal-content1 .close1:hover,
.modal2 .modal-content1 .close2:hover,
.modal2 .modal-content1 .close3:hover,
.modal2 .modal-content1 .close4:hover,
.modal2 .modal-content1 .closeinfo:hover,
.modal2 .modal-content1 .closeingresso:hover,
.modal2 .modal-content2 .close1:hover,
.modal2 .modal-content2 .close2:hover,
.modal2 .modal-content2 .close3:hover,
.modal2 .modal-content2 .close4:hover,
.modal2 .modal-content2 .closeinfo:hover,
.modal2 .modal-content2 .closeingresso:hover,
.modal2 .modal-content3 .close1:hover,
.modal2 .modal-content3 .close2:hover,
.modal2 .modal-content3 .close3:hover,
.modal2 .modal-content3 .close4:hover,
.modal2 .modal-content3 .closeinfo:hover,
.modal2 .modal-content3 .closeingresso:hover,
.modal2 .modal-content4 .close1:hover,
.modal2 .modal-content4 .close2:hover,
.modal2 .modal-content4 .close3:hover,
.modal2 .modal-content4 .close4:hover,
.modal2 .modal-content4 .closeinfo:hover,
.modal2 .modal-content4 .closeingresso:hover,
.modal2 .modal-contentinfo .close1:hover,
.modal2 .modal-contentinfo .close2:hover,
.modal2 .modal-contentinfo .close3:hover,
.modal2 .modal-contentinfo .close4:hover,
.modal2 .modal-contentinfo .closeinfo:hover,
.modal2 .modal-contentinfo .closeingresso:hover,
.modal2 .modal-contentingresso .close1:hover,
.modal2 .modal-contentingresso .close2:hover,
.modal2 .modal-contentingresso .close3:hover,
.modal2 .modal-contentingresso .close4:hover,
.modal2 .modal-contentingresso .closeinfo:hover,
.modal2 .modal-contentingresso .closeingresso:hover,
.modal3 .modal-content1 .close1:hover,
.modal3 .modal-content1 .close2:hover,
.modal3 .modal-content1 .close3:hover,
.modal3 .modal-content1 .close4:hover,
.modal3 .modal-content1 .closeinfo:hover,
.modal3 .modal-content1 .closeingresso:hover,
.modal3 .modal-content2 .close1:hover,
.modal3 .modal-content2 .close2:hover,
.modal3 .modal-content2 .close3:hover,
.modal3 .modal-content2 .close4:hover,
.modal3 .modal-content2 .closeinfo:hover,
.modal3 .modal-content2 .closeingresso:hover,
.modal3 .modal-content3 .close1:hover,
.modal3 .modal-content3 .close2:hover,
.modal3 .modal-content3 .close3:hover,
.modal3 .modal-content3 .close4:hover,
.modal3 .modal-content3 .closeinfo:hover,
.modal3 .modal-content3 .closeingresso:hover,
.modal3 .modal-content4 .close1:hover,
.modal3 .modal-content4 .close2:hover,
.modal3 .modal-content4 .close3:hover,
.modal3 .modal-content4 .close4:hover,
.modal3 .modal-content4 .closeinfo:hover,
.modal3 .modal-content4 .closeingresso:hover,
.modal3 .modal-contentinfo .close1:hover,
.modal3 .modal-contentinfo .close2:hover,
.modal3 .modal-contentinfo .close3:hover,
.modal3 .modal-contentinfo .close4:hover,
.modal3 .modal-contentinfo .closeinfo:hover,
.modal3 .modal-contentinfo .closeingresso:hover,
.modal3 .modal-contentingresso .close1:hover,
.modal3 .modal-contentingresso .close2:hover,
.modal3 .modal-contentingresso .close3:hover,
.modal3 .modal-contentingresso .close4:hover,
.modal3 .modal-contentingresso .closeinfo:hover,
.modal3 .modal-contentingresso .closeingresso:hover,
.modal4 .modal-content1 .close1:hover,
.modal4 .modal-content1 .close2:hover,
.modal4 .modal-content1 .close3:hover,
.modal4 .modal-content1 .close4:hover,
.modal4 .modal-content1 .closeinfo:hover,
.modal4 .modal-content1 .closeingresso:hover,
.modal4 .modal-content2 .close1:hover,
.modal4 .modal-content2 .close2:hover,
.modal4 .modal-content2 .close3:hover,
.modal4 .modal-content2 .close4:hover,
.modal4 .modal-content2 .closeinfo:hover,
.modal4 .modal-content2 .closeingresso:hover,
.modal4 .modal-content3 .close1:hover,
.modal4 .modal-content3 .close2:hover,
.modal4 .modal-content3 .close3:hover,
.modal4 .modal-content3 .close4:hover,
.modal4 .modal-content3 .closeinfo:hover,
.modal4 .modal-content3 .closeingresso:hover,
.modal4 .modal-content4 .close1:hover,
.modal4 .modal-content4 .close2:hover,
.modal4 .modal-content4 .close3:hover,
.modal4 .modal-content4 .close4:hover,
.modal4 .modal-content4 .closeinfo:hover,
.modal4 .modal-content4 .closeingresso:hover,
.modal4 .modal-contentinfo .close1:hover,
.modal4 .modal-contentinfo .close2:hover,
.modal4 .modal-contentinfo .close3:hover,
.modal4 .modal-contentinfo .close4:hover,
.modal4 .modal-contentinfo .closeinfo:hover,
.modal4 .modal-contentinfo .closeingresso:hover,
.modal4 .modal-contentingresso .close1:hover,
.modal4 .modal-contentingresso .close2:hover,
.modal4 .modal-contentingresso .close3:hover,
.modal4 .modal-contentingresso .close4:hover,
.modal4 .modal-contentingresso .closeinfo:hover,
.modal4 .modal-contentingresso .closeingresso:hover,
.modalinfo .modal-content1 .close1:hover,
.modalinfo .modal-content1 .close2:hover,
.modalinfo .modal-content1 .close3:hover,
.modalinfo .modal-content1 .close4:hover,
.modalinfo .modal-content1 .closeinfo:hover,
.modalinfo .modal-content1 .closeingresso:hover,
.modalinfo .modal-content2 .close1:hover,
.modalinfo .modal-content2 .close2:hover,
.modalinfo .modal-content2 .close3:hover,
.modalinfo .modal-content2 .close4:hover,
.modalinfo .modal-content2 .closeinfo:hover,
.modalinfo .modal-content2 .closeingresso:hover,
.modalinfo .modal-content3 .close1:hover,
.modalinfo .modal-content3 .close2:hover,
.modalinfo .modal-content3 .close3:hover,
.modalinfo .modal-content3 .close4:hover,
.modalinfo .modal-content3 .closeinfo:hover,
.modalinfo .modal-content3 .closeingresso:hover,
.modalinfo .modal-content4 .close1:hover,
.modalinfo .modal-content4 .close2:hover,
.modalinfo .modal-content4 .close3:hover,
.modalinfo .modal-content4 .close4:hover,
.modalinfo .modal-content4 .closeinfo:hover,
.modalinfo .modal-content4 .closeingresso:hover,
.modalinfo .modal-contentinfo .close1:hover,
.modalinfo .modal-contentinfo .close2:hover,
.modalinfo .modal-contentinfo .close3:hover,
.modalinfo .modal-contentinfo .close4:hover,
.modalinfo .modal-contentinfo .closeinfo:hover,
.modalinfo .modal-contentinfo .closeingresso:hover,
.modalinfo .modal-contentingresso .close1:hover,
.modalinfo .modal-contentingresso .close2:hover,
.modalinfo .modal-contentingresso .close3:hover,
.modalinfo .modal-contentingresso .close4:hover,
.modalinfo .modal-contentingresso .closeinfo:hover,
.modalinfo .modal-contentingresso .closeingresso:hover,
.modalingresso .modal-content1 .close1:hover,
.modalingresso .modal-content1 .close2:hover,
.modalingresso .modal-content1 .close3:hover,
.modalingresso .modal-content1 .close4:hover,
.modalingresso .modal-content1 .closeinfo:hover,
.modalingresso .modal-content1 .closeingresso:hover,
.modalingresso .modal-content2 .close1:hover,
.modalingresso .modal-content2 .close2:hover,
.modalingresso .modal-content2 .close3:hover,
.modalingresso .modal-content2 .close4:hover,
.modalingresso .modal-content2 .closeinfo:hover,
.modalingresso .modal-content2 .closeingresso:hover,
.modalingresso .modal-content3 .close1:hover,
.modalingresso .modal-content3 .close2:hover,
.modalingresso .modal-content3 .close3:hover,
.modalingresso .modal-content3 .close4:hover,
.modalingresso .modal-content3 .closeinfo:hover,
.modalingresso .modal-content3 .closeingresso:hover,
.modalingresso .modal-content4 .close1:hover,
.modalingresso .modal-content4 .close2:hover,
.modalingresso .modal-content4 .close3:hover,
.modalingresso .modal-content4 .close4:hover,
.modalingresso .modal-content4 .closeinfo:hover,
.modalingresso .modal-content4 .closeingresso:hover,
.modalingresso .modal-contentinfo .close1:hover,
.modalingresso .modal-contentinfo .close2:hover,
.modalingresso .modal-contentinfo .close3:hover,
.modalingresso .modal-contentinfo .close4:hover,
.modalingresso .modal-contentinfo .closeinfo:hover,
.modalingresso .modal-contentinfo .closeingresso:hover,
.modalingresso .modal-contentingresso .close1:hover,
.modalingresso .modal-contentingresso .close2:hover,
.modalingresso .modal-contentingresso .close3:hover,
.modalingresso .modal-contentingresso .close4:hover,
.modalingresso .modal-contentingresso .closeinfo:hover,
.modalingresso .modal-contentingresso .closeingresso:hover {
  background-color: red;
  text-decoration: none;
  cursor: pointer;
}

/*===================================== DESCRIÇÃO EM CARTAZ =====================================*/
.em-cartaz {
  width: 100%;
  height: 500px;
  background-image: url(../assets/turne/em-cartaz-caros-ouvintes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.em-cartaz h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
}

.em-cartaz p {
  font-size: 1em;
  line-height: 1em;
}

.botaoinfo {
  height: 4em;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 5px;
  overflow: hidden;
}

.botaoinfo:hover {
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
          box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
}

.botaoinfo p,
.botaoinfo i {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0;
}

.botaoingresso {
  height: 4em;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 5px;
  overflow: hidden;
}

.botaoingresso:hover {
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
          box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
}

.botaoingresso p,
.botaoingresso i {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0;
}

.modalingresso i {
  font-size: 2em;
  padding: 0 2%;
}

.service,
.informacao {
  position: relative;
  text-align: left;
  max-width: 40vw;
  max-height: 60vh;
  background-color: black;
  border: 1px #000 solid;
  padding: 10px;
  margin-top: 8%;
}

/*===================================== FORMULÁRIO =====================================*/
form {
  border-radius: 15px;
  background: rgba(53, 53, 53, 0.8);
  -webkit-box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
          box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
  max-width: 80vw;
  padding: 2em;
  margin-top: 4em;
}

form h4 {
  color: #fff;
  font-size: 1.1em;
  margin: 8px 0 0 0;
}

form .enviar {
  font-size: 1.5em;
  font-weight: 600;
  width: 100%;
  height: 60px;
}

.grow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
          box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
}

/* =============== Mapeamento Páginas NOTÍCIAS =============== */
.linkmap {
  position: fixed;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
}

.linkmap a {
  color: rgba(255, 255, 255, 0.7);
}

.linkmap-separator {
  color: white;
  opacity: 0.8;
}

/* =============== BOTÃO VOLTAR PARA O TOPO =============== */
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 2em;
  border: none;
  background-color: rgba(53, 53, 53, 0.5);
  color: #a2a2a2;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#back-top:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.59);
          box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.59);
}

/*===================================== ANIMATIONS =====================================*/
@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes menu-item-anim {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/*======================================================================================
====================================== RESPONSIVE ======================================
========================================================================================*/
@media only screen and (max-width: 992px) {
  .card {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);
            box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);
  }
  .links {
    display: none;
  }
  .card-turne {
    height: 700px;
    width: 100%;
    margin: 0 auto;
  }
  .card-turne .turne {
    width: 100%;
  }
  .card-turne .turne .turne-text {
    width: 100%;
  }
  .card-turne .img-turne-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
    padding-bottom: 30px;
  }
}

/*==========================================================================*/
@media only screen and (min-width: 845px) {
  .menu-btn,
  .open-menu {
    display: none;
  }
  .navoverlay {
    padding-top: 5em;
  }
  .navoverlay ul {
    display: none;
    padding-top: 4em;
  }
}

/*==========================================================================*/
@media only screen and (max-width: 845px) {
  .navoverlay ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    padding-top: 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
    width: 80%;
  }
  .links .underline {
    display: none;
  }
  .swiper-container .swiper-slide img {
    height: auto;
    width: 100%;
  }
}

/*==========================================================================*/
@media only screen and (max-width: 650px) {
  .navoverlay ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    padding-top: 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    width: 80%;
  }
  .swiper-container-premios {
    overflow: hidden;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .swiper-container-premios .swiper-slide a {
    width: auto;
    height: 100%;
  }
  .swiper-container-premios .swiper-slide a .swiper-slide img {
    width: auto;
    height: 100%;
  }
  .swiper-container-premios .swiper-slide a .titulo {
    display: none;
  }
}

/*==========================================================================*/
@media only screen and (max-width: 450px) {
  .navoverlay {
    height: 100vh;
    margin: 0;
  }
  .navoverlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navoverlay li {
    margin: 0;
    padding: 0;
  }
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */