@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  color: rgb(232, 232, 232);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

  hr {
    margin: 20px auto;
    background: rgba(53, 53, 53, 0.6);
    box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
  }

  main {
    padding-top: 4em;
    min-height: 80vh;
  }

  section {
    padding-top: 3em;

    h1 {
      font-size: 3em;
      color: #fff;
      width: 70%;
    }
  }
}

.titulo {
  max-width: 50%;
  height: auto;
  margin: 10px auto;
  background-color: rgba(114, 114, 114, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .titulotxt {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    padding: 10px auto;
    margin: 0;
  }
}

header {
  .links {
    list-style: none;
    display: flex;
    align-items: center;
    float: right;

    a {
      padding: 0 8px;
      display: inline-block;

      img {
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 10px 10px 100px 10px rgba(255, 255, 255, 0.816);
        position: absolute;
        top: 5px;
        left: 15px;
        z-index: 99;
        -webkit-transition: -webkit-transform .6s ease-in-out;
        transition: all 1s ease-in-out;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);

        &:hover {
          -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
        }
      }

      h2 {
        color: #fff;
        font-weight: bold;
        font-size: 1.4em;
        padding: 30px 0;
      }

      h2.underline {
        position: relative;
      }

      h2.underline:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      h2.underline:hover:before {
        visibility: visible;
        width: 100%;
      }

      .active {
        background-color: rgba(237, 237, 237, 0.1);
        border-bottom: solid 5px #fff;
        padding: 25px 10px;
      }
    }
  }

  .menu-btn {
    width: 40px;
    float: right;
    cursor: pointer;
    margin: 40px;
  }
}

.logo {
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  &:hover {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #222222;
  border-top: rgb(158, 158, 158) 1px solid;
  min-height: 80px;
  margin-top: 2em;
  grid-area: social;
  display: grid;
  /* ACTING AS A GRID CONTAINER */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
  justify-items: center;

  .footersocial {
    grid-column: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      text-decoration: none;
      background: #f5f5f5;
      width: 40px;
      height: 40px;
      color: #131212;
      border-radius: 4px;
      margin: 10px;
      padding: 6px 1px;
      transition: all 0.3s;
      display: inline-block;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        color: #fff;
        background: rgb(255, 255, 255);
        box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
      }

      .fa,
      .fab,
      .fas {
        font-size: 1.8em;
        color: #000;
      }
    }
  }

  .footertxt {
    place-items: center;

    h2 {
      font-size: 1.1em;
      color: #f5f5f5;
      margin: 0;
      padding: 5px;
    }

    p {
      font-size: .8em;
      color: #f5f5f5;
      margin: 0;
      padding: 10px;
    }
  }
}

.navoverlay {
  position: absolute;
  z-index: 2;
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 2em;
  width: 100%;
  height: 100vh;
  display: none;
  transform: scaleX(0);
  transform-origin: right;
  overflow: auto;

  .close-btn {
    width: 40px;
    float: right;
    cursor: pointer;
    margin: 8px 15px;
    animation: show-x 1s forwards;
  }

  ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 80%;

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 1.5em;
    }

    h2.underline {
      position: relative;
    }

    h2.underline:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffffff;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    h2.underline:hover:before {
      visibility: visible;
      width: 100%;
    }

    span {
      color: rgba(153, 153, 153, 0.8);
      display: block;
      font-size: 0.95em;
      margin-top: 5px;
      margin-bottom: 35px;
    }

    li {
      opacity: 0;
      margin: 10px auto;
      transition: ease-in-out (0.5s);
    }

    li:hover {
      transform: scale(1.4);
    }
  }
}

.show-menu {
  display: block;
  animation: slide-menu 0.7s ease-in-out forwards;

  li:nth-of-type(1) {
    animation: menu-item-anim 0.6s forwards 0.5s ease-in-out;
  }

  li:nth-of-type(2) {
    animation: menu-item-anim 0.6s forwards 0.6s ease-in-out;
  }

  li:nth-of-type(3) {
    animation: menu-item-anim 0.6s forwards 0.7s ease-in-out;
  }

  li:nth-of-type(4) {
    animation: menu-item-anim 0.6s forwards 0.8s ease-in-out;
  }

  li:nth-of-type(5) {
    animation: menu-item-anim 0.6s forwards 0.9s ease-in-out;
  }

  li:nth-of-type(6) {
    animation: menu-item-anim 0.6s forwards 1s ease-in-out;
  }

  li:nth-of-type(7) {
    animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
  }
}

/*===================================== SHARE BUTTON =====================================*/
.mn-social-bottom-c {
  display: inline-block;
  justify-content: center;
  margin: 0;
}

.mn-social-bottom-c p {
  text-align: center;
  font-size: 25px;
  color: #5a5a5a;
}

.mn-social-bottom {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  color: #131212;
  border-radius: 4px;
  margin: 10px;
  transition: all 0.3s;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: all 0.4s ease-in-out;

  .fa,
  .fab,
  .fas {
    font-size: 1.2em;
    color: #000;
  }

  .fa-plus {
    transition: -webkit-transform 0.3s;
  }

  .fa-plus.mn-social-r {
    transform: rotate(45deg);
  }
}

.mn-social-bottom:hover {
  cursor: pointer;
  color: #fff;
  background: rgba(53, 53, 53, 0.6);
  box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
  transform: scale(1.2);

  .fa,
  .fab,
  .fas {
    color: #fff;
  }
}

#mn-social-bottom-hidden {
  display: none;
}

/*===================================== SWIPER =====================================*/

/*=========== SWIPER HOME ===========*/
.swiper-container {
  width: 100%;
  height: 400px;
  overflow: hidden;

  .swiper-slide {
    position: relative;
    text-align: center;
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .titulo {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 10px auto;
      background-color: rgba(0, 0, 0, 0.8);
      border: #fff 1px solid;

      .titulotxt {
        font-size: 2em;
        font-weight: 700;
        color: #fff;
        padding: 10px auto;
        margin: 0;
      }
    }
  }

  .swiper-slide a {
    text-decoration: none;
    height: 100%;
    width: auto;
    &:hover {
      transition: all 0.4s ease-in-out;
      transform: scale(0.8);
      box-shadow: 8px 8px 100px 30px rgba(255, 255, 255, 0.59);
    }
  }

  .swiper-slide img {
    height: 85%;
    width: auto;
  }

  .swiper-dots {
    z-index: 1;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-pagination-bullet {
      height: 30px;
      width: 30px;
    }

    .swiper-pagination-bullet-active {
      background: rgba(53, 53, 53, 0.6);
      box-shadow: 1px 1px 30px 10px rgba(255, 255, 255, 0.59);
      height: 30px;
      width: 30px;
    }
  }

  .swiper-arrow {
    color: #fff;

    .swiper-button-next {
      width: 400px;
    }
  }
}

/*=========== SWIPER SOBRE ===========*/
.swiper-container-premios {
  width: 100%;
  height: 350px;
  overflow: hidden;

  .swiper-slide {
    position: relative;
    text-align: center;
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 2em;

    .titulo {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 10px auto;
      background-color: rgba(0, 0, 0, 0.8);
      border: #fff 1px solid;

      .titulotxt {
        font-size: 2em;
        font-weight: 700;
        color: #fff;
        padding: 10px auto;
        margin: 0;
      }
    }
  }

  .swiper-slide a {
    height: 100%;
    width: auto;

    &:hover {
      transition: all 0.4s ease-in-out;
      transform: scale(0.8);
      box-shadow: 8px 8px 100px 30px rgba(255, 255, 255, 0.59);
    }
  }

  .swiper-slide img {
    height: 90%;
    width: auto;
  }
}

/*===================================== CARDS =====================================*/
.card {
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);

  .card-img-top {
    border-radius: 20px 20px 0 0;
  }
}

.card-turne {
  height: auto;

  .card-title {
    background-color: rgba(136, 136, 136, 0.2);
  }

  .img-turne-container {
    width: 50%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

/*===================================== MODAL =====================================*/
/* Modal (background) */
.modal1,
.modal2,
.modal3,
.modal4,
.modalinfo,
.modalingresso {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);

  /* Conteúdo Modal /Box */
  .modal-content1,
  .modal-content2,
  .modal-content3,
  .modal-content4,
  .modal-contentinfo,
  .modal-contentingresso {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
    margin: 6% auto;
    /* 15% top e centralizado */
    border: 1px solid #888;
    width: 80%;
    height: auto;

    iframe {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 600px;
    }

    .service {
      margin: 0;
      padding: 10px;
      width: 100%;
      height: 80%;
    }

    .informacao {
      margin: 0;
      padding: 10px;
      width: 100%;
      height: 80%;
    }

    /* Botão Fechar */
    .close1,
    .close2,
    .close3,
    .close4,
    .closeinfo,
    .closeingresso {
      background-color: rgba(99, 0, 0, 0.686);
      color: #fff;
      font-size: 2em;
      display: flex;
      justify-items: center;
      justify-content: center;
      font-weight: bold;

      &:hover {
        background-color: rgb(255, 0, 0);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

/*===================================== DESCRIÇÃO EM CARTAZ =====================================*/
.em-cartaz {
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;


    h1 {
      font-size: 2.3em;
      font-weight: 700;
      line-height: 1em;
    }

    h2 {
      font-size: 1.8em;
      font-weight: 700;
      line-height: 1em;
    }

    p {
      font-size: 1em;
      line-height: 1em;
    }

    img {
      width: 100%;
      height: auto;
      transition: all 0.4s ease-in-out;

      &:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.8);
        box-shadow: 8px 8px 100px 30px rgba(255, 255, 255, 0.59);
      }
    }

  }
}

.botaoinfo {
  height: 4em;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin: 5px;
  overflow: hidden;

  &:hover {
    z-index: 10;
    transform: scale(1);
    box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
  }

  p,
  i {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
  }
}

.botaoingresso {
  height: 4em;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin: 5px;
  overflow: hidden;

  &:hover {
    z-index: 10;
    transform: scale(1);
    box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
  }

  p,
  i {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
  }
}

.modalingresso i {
  font-size: 2em;
  padding: 0 2%;
}

.service,
.informacao {
  position: relative;
  text-align: left;
  min-width: 40vw;
  max-height: 60vh;
  background-color: rgb(0, 0, 0);
  border: 1px #000 solid;
  padding: 10px;
  margin-top: 8%;

  h3,
  p {
    width: 100%;
  }
}

/*===================================== FORMULÁRIO =====================================*/
form {
  border-radius: 15px;
  background: rgba(53, 53, 53, 0.8);
  box-shadow: 5px 5px 20px -9px rgba(255, 255, 255, 0.59);
  max-width: 80vw;
  padding: 2em;
  margin-top: 4em;

  h4 {
    color: #fff;
    font-size: 1.1em;
    margin: 8px 0 0 0;
  }

  .enviar {
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    height: 60px;
  }
}

.grow {
  transition: all 0.2s ease-in-out;

  &:hover {
    z-index: 10;
    transform: scale(1);
    box-shadow: 8px 8px 20px -5px rgba(255, 255, 255, 0.59);
  }
}

/* =============== Mapeamento Páginas NOTÍCIAS =============== */
.linkmap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  padding-bottom: 0;

  span {
    background-color: #000;

    a {
      font-weight: 300;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.linkmap-separator {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.noticia-1 {
  background-image: url("../assets/turne/peca-online.jpg");

  div {
    min-height: 30vh;
    overflow: hidden;
  }
}

.noticia-2,
.noticia-3 {
  min-height: 35vh;
  overflow: hidden;
}

/*===================================== AGENDA =====================================*/
.accordion-item {
  margin-bottom: 1em;
}

.accordion-button h2 {
  margin: 0;
}

.accordion-header:focus {
  z-index: 3;
  border-color: rgb(255, 255, 255);
}

.accordion-button:focus {
  z-index: 3;
  border: none;
}

.accordion-button:hover>h2 {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: rgba(75, 75, 75, 0.6);
  box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.59);
}

.accordion-button::after {
  flex-shrink: 0;
  color: #fff;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 3rem;
}

/* =============== BOTÃO VOLTAR PARA O TOPO =============== */
#back-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 2em;
  border: none;
  background-color: rgba(53, 53, 53, 0.5);
  color: rgb(162, 162, 162);
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#back-top:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.59);
}

/*===================================== ANIMATIONS =====================================*/
@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  0% {
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  3.2% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 53.039, 0, 1);
  }

  6.41% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66.07, 0, 1);
  }

  12.71% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.502, 0, 1);
  }

  18.92% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.815, 0, 1);
  }

  25.23% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.262, 0, 1);
  }

  31.43% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.145, 0, 1);
  }

  56.46% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.15, 0, 1);
  }

  81.48% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }

  100% {
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/*======================================================================================
====================================== RESPONSIVE ======================================
========================================================================================*/
@media only screen and (max-width: 992px) {
  .card {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 15px -10px rgba(255, 255, 255, 0.59);
  }

  .links {
    display: none;
  }

  .card-turne {
    height: 700px;
    width: 100%;
    margin: 0 auto;

    .turne {
      width: 100%;

      .turne-text {
        width: 100%;
      }
    }

    .img-turne-container {
      width: 100%;
      justify-content: center;
      opacity: 1;
      padding-bottom: 30px;
    }
  }
}

/*==========================================================================*/
@media only screen and (min-width: 845px) {

  .menu-btn,
  .open-menu {
    display: none;
  }

  .navoverlay {
    padding-top: 5em;

    ul {
      display: none;
      padding-top: 4em;
    }
  }
}

/*==========================================================================*/
@media only screen and (max-width: 845px) {
  .navoverlay {
    ul {
      list-style-type: none;
      margin: 10% auto 0 auto;
      padding: 0;
      padding-top: 4em;
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
      width: 80%;
    }
  }

  .links {
    .underline {
      display: none;
    }
  }

  .swiper-container {
    .swiper-slide {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

/*==========================================================================*/
@media only screen and (max-width: 650px) {
  .navoverlay {
    ul {
      list-style-type: none;
      margin: 10% auto 0 auto;
      padding: 0;
      padding-top: 4em;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      width: 80%;
    }
  }

  .swiper-container {
    height: auto;
    width: 100%;
  }

  .em-cartaz {
    height: auto;
    width: 100%;
  }

  .swiper-container-premios {
    overflow: hidden;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .swiper-slide a {
      width: auto;
      height: 100%;

      .swiper-slide img {
        width: auto;
        height: 100%;
      }

      .titulo {
        display: none;
      }
    }
  }
}

/*==========================================================================*/
@media only screen and (max-width: 450px) {
  .navoverlay {
    height: 100vh;
    margin: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}